Source: devio
Section: utils
Priority: optional
Maintainer: Rod Whitby <rod@whitby.id.au>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.2

Package: devio
Architecture: any
Depends: ${shlibs:Depends}
Description: correctly read (or write) a region of a block device
 devio is a command line program to read correctly from mtd character
 (and other block) devices. devio allows access to specific regions of
 the device and allows output of data from specific locations.
 The primary difference between devio and other command line
 utilities, such as dd and cat, is that it is not stream based - it
 writes directly into the object rather than reading and writing a
 stream of data.

Package: devio-udeb
Priority: optional
Section: debian-installer
XC-Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}
Description: correctly read (or write) a region of a block device
 devio is a command line program to read correctly from mtd character
 (and other block) devices. devio allows access to specific regions of
 the device and allows output of data from specific locations.
 The primary difference between devio and other command line
 utilities, such as dd and cat, is that it is not stream based - it
 writes directly into the object rather than reading and writing a
 stream of data.
 .
 devio-udeb is a minimal package used by debian-installer.
