#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

PROJECT=	ixp400-accesslib

IX_TARGET=	linuxle
OSAL_DIR=	$(CURDIR)/ixp_osal
XSCALE_SW_DIR=	$(CURDIR)/ixp400_xscale_sw

COMMON_FLAGS=	IX_TARGET=$(IX_TARGET) \
		IX_DEVICE=ixp42X \
		IX_LINUXVER=2.6 \
		LINUX_SRC=$(KSRC) \
		LINUX_CROSS_COMPILE=$(CROSS_COMPILE)

OSAL_FLAGS=	$(COMMON_FLAGS)
XSCALE_SW_FLAGS= \
		$(COMMON_FLAGS) \
		IX_XSCALE_SW=$(XSCALE_SW_DIR)

configure: configure-stamp
configure-stamp: patch
	dh_testdir
	touch configure-stamp

build-arch: configure-stamp build-arch-stamp
build-arch-stamp:
	dh_testdir
	touch build-arch-stamp

build-indep:  configure-stamp build-indep-stamp
build-indep-stamp:
	dh_testdir
	touch build-indep-stamp

build: build-arch build-indep

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -i usr/src/modules/$(PROJECT)/debian
	tar -c --exclude ".pc" --exclude "debian" --exclude "*-stamp" \
	  --exclude ".svn" --exclude "ixp_osal/os/vxworks" . \
	  | tar x -C debian/$(PROJECT)-source/usr/src/modules/$(PROJECT)
	cp -a debian/compat debian/*modules.in debian/rules debian/copyright debian/changelog debian/$(PROJECT)-source/usr/src/modules/$(PROJECT)/debian
	cd debian/$(PROJECT)-source/usr/src && tar c modules | bzip2 -9 > $(PROJECT).tar.bz2 && rm -rf modules
	dh_install

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build build-arch build-indep clean clean-patched binary-indep binary-arch binary install configure binary-modules kdist kdist_config kdist_image kdist_clean

# module-assistant stuff
PACKAGE = $(PROJECT)-module
MA_DIR ?= /usr/share/modass
-include $(MA_DIR)/include/generic.make
-include $(MA_DIR)/include/common-rules.make

kdist_clean: prep-deb-files
	dh_clean
	-find $(OSAL_DIR)/lib -name '*.d' -o -name '*.o' -o -name '*.a' -exec rm -f {} +

kdist_config: prep-deb-files
kdist_configure: kdist_config

binary-modules: kdist_config
	dh_testdir
	dh_testroot
	dh_clean -k
# build and install the module
	$(MAKE) -C $(OSAL_DIR) $(OSAL_FLAGS) module
	$(MAKE) -C $(XSCALE_SW_DIR) $(XSCALE_SW_FLAGS) ixp400.ko
	install -m644 -b -D $(XSCALE_SW_DIR)/lib/$(IX_TARGET)/ixp400.ko $(CURDIR)/debian/$(PKGNAME)/lib/modules/$(KVERS)/ixp400/ixp400.ko
	dh_installdocs 
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- -v$(VERSION)
	dh_md5sums
	dh_builddeb --destdir=$(DEB_DESTDIR)
